/***********Style.css************/
body { margin:0px; padding:0px; }

body, html {
    height: 100%;
    background-repeat: no-repeat;
    /*background-image: linear-gradient(135deg, rgba(31,123,229,1) 0%, rgba(58,139,232,1) 47%, rgba(70,153,234,1) 92%, rgba(72,156,234,1) 100%);*/
    min-height: 100%;
    background-size: 100% 100%;
   
}
body {font-family: 'Roboto', sans-serif;}
	.thin {font-weight:100;font-family: 'Roboto', sans-serif;}
	h1 { font-size:44px; font-weight:200;font-family: 'Roboto', sans-serif;}
	h2 {font-size:33px; font-weight:300;font-family: 'Roboto', sans-serif;}
	h3 {font-size:22px; font-weight:700;font-family: 'Roboto', sans-serif;}
	h4, h5 {font-weight:600;font-family: 'Roboto', sans-serif;}
	.bold, strong  {font-weight:600;font-family: 'Roboto', sans-serif;}
	.extrabold {font-weight:800;font-family: 'Roboto', sans-serif;}
	.ultrabold {font-weight:900;font-family: 'Roboto', sans-serif;}




    







.footer {
    bottom: 0px;
    position: absolute;
}

@media(max-width:960px){
    
}
@media(max-width:414px){
        
}

@media(max-width:375px){
    
}

@media(max-width:320px){
   
}






