.accordion {
    background-color: #EEF1F2 !important;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-bottom: 5px;
}
.accordion:after {
 content: '\2795';
 font-size: 13px;
 color: #777;
 float: right;
 margin-left: 5px;
 padding-top:5px;
}

.accordion.active:after {
   content: "\2796";
}

.active, .accordion:hover {
    background-color: #ccc !important; 
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}
.panel-main {
    background: #fff;
}
.row.input {
    margin-bottom: 30px;
}
.alignFroomRight {

    float: right;
    margin-left: -400px;
    margin-right: 400px;
    padding-top: 10px;

}
.alignFromRightTime {

    float: right;
    margin-left: -400px;
    margin-right: 400px;
    padding-top: 0px;

}
.btn-group.bootstrap-select {
    min-width: 330px !important;
}