.ml-3{
    
      margin-left: .5rem !important;
}
.mr-2, .mx-2 {
    margin-right: .5rem !important;
}
.mb-1, .my-1 {
    margin-bottom: .25rem !important;
}
.list-group-item a img{
    
    padding:1rem;
    height: 60px;
    
}
   .media {
    display: -webkit-box;
    display: -ms-flexbox;
   display: inline-table; 
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.name{
   color:#000 !important;
   font-size:16px;
   font-family:'Helvetica';
   font-weight: 700;
    
}
.name-field{
   color:#1ec8c8 !important;
   font-size:16px;
   font-family:'Helvetica';
   margin-top:20px;
      
}
.chat-1{
    
    background-color:#fff;
    padding:15px;
    font-size:20px;
    border-bottom: 1px solid #eee;
}
.ri-4{
    
    overflow: hidden;
}
.img-thumb {
   
    border-radius: 50%;
}
.text-secondary {
    color: #868e96 !important;
    width: 90%;
    font-weight: 400;
}

.list-group-item:first-child {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 0px 0px;
    margin-bottom: 0px !important;
    background-color: #fff;
    border: 0px solid #ddd !important;  
}
.ban{
      
     border-bottom: 1px solid #ddd !important;   
}

.card-box {
    background: #fff;
    min-height: 50px;
    box-shadow: none;
    position: relative;
    margin-bottom: 20px;
    transition: .5s;
    border: 1px solid #f2f2f2;
    border-radius: 0;
   
}
div#chatlist {
    width: 450px;
    height: 140px;
    border: 0px solid black;
}
div.mousescroll {
    overflow: hidden;
}
div.mousescroll:hover {
    overflow-y: scroll;
}
ul {
    list-style-type: none;
}


.chat {
    margin: 0;
    padding: 0;
    margin-top: -15px;
    margin-right: 10px;
}
.chat li {
    list-style: none;
    padding: 7px 0 5px;
    margin: 7px auto;
    font-size: 14px;
    float: left;
    width: 100%;
}
.chat li img.avatar {
    height: 45px;
    width: 45px;
    float: left;
    margin-right: 10px;
    margin-top: 0px;
    border-radius: 50% !important;
}
.nice-chat li.in .message {
    background: #1ec8c8;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
ul.chat.nice-chat {
    height: auto;
}
.chat li.in .message {
    text-align: left;
    margin-left: 65px;
}
.chat li .message {
    display: block;
    padding: 5px;
    position: relative;
}
.nice-chat li.in .message .arrow {
    border-right: 8px solid #1ec8c8;
}
.chat li.in .message .arrow {
    display: block;
    position: absolute;
    top: 15px;
    left: -8px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}
.nice-chat li.in .message a.name,
.nice-chat li.in .message .datetime {
    color: #fff;
}
.nice-chat li.in .message a.name {
    font-weight: bold;
}
.chat li .name {
    font-size: 15px;
    font-weight: 400;
}
.nice-chat li.in .message a.name,
.nice-chat li.in .message .datetime {
    color: #fff;
}
.nice-chat li.in .message .datetime {
    opacity: .7;
}
.chat li .datetime {
    color: #1ec8c8;
    font-size: 13px;
    font-weight: 400;
    float:  right;
    padding: 10px 2px 0 10px;
}

.chat li .datetime1 {
    color: #1ec8c8;
    font-size: 13px;
    font-weight: 400;
    float:  left;
    padding: 12px 2px 0 0px;
}
.chat li .message .body {
    display: block;
}
.chat li.out img.avatar {
    float: right;
    margin-left: 10px;
    margin-top: 0px;
}
.nice-chat li.out .message {
    background: #EFF0F4;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
.nice li.out .message {
    border-right: 2px solid #EFF0F4;
    margin-right: 65px;
    text-align: right;
}
.nice li .message {
    display: block;
    padding: 5px;
    position: relative;
}
.nice-chat li.out .message .arrow {
    border-left: 8px solid #EFF0F4;
}
.card-body {
    padding: 10px 24px 14px 34px;
    position: relative;
   
}
.chat li.out .message .arrow {
    display: block;
    position: absolute;
    top: 15px;
    right: -8px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #EFF0F4;
}
.chat li.out img.avatar {
    float: right;
    margin-left: 10px;
    margin-top: 0px;
}
.chat li.out .message {
    border-right: 2px solid #EFF0F4;
    margin-right: 65px;
    text-align: right;
}
.chat li .message {
    display: block;
    padding: 5px;
    position: relative;
}
.chat-txt-form {
    margin-top: 15px;
    padding: 10px;
    background-color: #EFF0F4;
    clear: both;
}
.chat-form .form-group {
    width: 83%;
    margin-right: 2%;
    float: left;
}
.chat li img.avatar {
    height: 45px;
    width: 45px;
    float: left;
    margin-right: 10px;
    margin-top: 0px;
    border-radius: 50% !important;
}
.chat-page li .message .body {
    display: block;
    padding: 10px 10px 10px 10px;
}
.paper-icon
{
    float:right;
    position: absolute;
    margin: 9px 16px 10px -43px;
    z-index: 999;
}
.paper-icon.cir{border-radius: 50px;background-color: #1ec8c8;width: 29px;position:absolute;padding: 6px;/* margin: 10px 11px 0px -39px; */color: #fff;height: 31px;}
.sn{
width:100%;    
    
}
.d-md-block {
    display: block !important;
}
.ps {
    overflow: hidden !important;
    overflow-anchor: none;
    -ms-overflow-style: none;
    touch-action: auto;
    -ms-touch-action: auto;
}
.list-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}
.list-group-linked {
    
    margin: 0;
        margin-bottom: 0px;
    padding: 0;
        padding-left: 0px;
}
.text-here{
    
    height:50px;
}
.input-group-send {
    position: relative;
    display: table;
    border-collapse: separate;
    width: 100%;}
    /*
 * Scrollbar rail styles
 */
.ps__rail-x {
  display: none;
  opacity: 0;
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  height: 15px;
  /* there must be 'bottom' or 'top' for ps__rail-x */
  bottom: 0px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__rail-y {
  display: none;
  opacity: 0;
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  width: 15px;
  /* there must be 'right' or 'left' for ps__rail-y */
  right: 0;
  /* please don't change 'position' */
  position: absolute;
}

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  display: block;
  background-color: transparent;
}

.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
  opacity: 0.6;
}

.ps__rail-x:hover,
.ps__rail-y:hover,
.ps__rail-x:focus,
.ps__rail-y:focus {
  background-color: #eee;
  opacity: 0.9;
}

/*
 * Scrollbar thumb styles
 */
.ps__thumb-x {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color .2s linear, height .2s ease-in-out;
  -webkit-transition: background-color .2s linear, height .2s ease-in-out;
  height: 6px;
  /* there must be 'bottom' for ps__thumb-x */
  bottom: 2px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__thumb-y {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color .2s linear, width .2s ease-in-out;
  -webkit-transition: background-color .2s linear, width .2s ease-in-out;
  width: 6px;
  /* there must be 'right' for ps__thumb-y */
  right: 2px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x {
  background-color: #999;
  height: 11px;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y {
  background-color: #999;
  width: 11px;
}

.input-group .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #1ec8c8;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #1ec8c8;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #1ec8c8;
}

.cht-new{
      
  float:right;
  background-color:#1ec8c8;
  color:#fff;
  padding:3px 0 5px 8px ;
  font-size:16px;
  width:50px;
}
.cht-new a{
   color:#fff;     
      
}
.tme{
 float:right;
 margin:7px;
 color:#797979;
      
 margin-right: 15px;
}
.dte{
      float:right;
      color:#1ec8c8;
      padding-bottom: 6px;
      padding-right: 15px;
}
.ntf{
 background-color:#1ec8c8;
 border-radius:50%;
 width: 20px;
 height: 20px;
 padding: 2px 0 0 6px;
 float:right;
 color:#fff;
 margin-top: -23px;
 font-size: 12px;
 margin-right: 14px;
}