.content-left-row {
    text-align: left;
    font-size: 11px;
    color: #8b8b8b;
    float: left;padding-top: 12px;
}
.content-right-row {
    text-align: right;
    font-size: 11px;
    color: #8b8b8b;
    margin-top: 5px;
}
.men-rw a {
    padding: 0 15px;
    color: #8b8b8b;
    font-weight: 500;
    font-size: 14px;
    /*border-right: 1px solid #978c8c;*/
}
.men-rw a:last-child{
    border: none;
}

.men-rw {text-align: center;padding-top: 2px;}
.web-title {
    float: left;
    padding-top: 2px;
   	color: #8b8b8b;
	font-size:11px;
}
input.form-control.user {
    background-color: #fff;
}
.row.footer {
    background-color: #e1e1e1;
    text-align: center;
    bottom: 0px;
    padding: 10px 0px 0px 0;
}



.bg-accpunt-pages {
    background: url(../img/bg-2.jpg) no-repeat;
    background-size: cover;
    padding-bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #f0f3f4;
}
.wrapper-page {
    display: table;
    height: 100vh;
    width: 100%;
}
.account-pages {
    display: table-cell;
    vertical-align: middle;
}
.account-content {
  padding:22px;
}
button.btn.btn-default.login {
    width: 100%;
    height: 51px;
    background-color: #1ec8c8 !important;
    color: #fff !important;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 300;
    border: none !important;
}
.user {
    height: 51px;
    background-color: #f8fafc;
}
.font-size{
    
    font-size: 33px;
    color: #000;
}
.m-t-50{
    padding-top: 18px;
    
}
.m-b-50{
    padding-bottom: 40px;
    
}
.m-t-120{
    padding-top: 120px;
    
}
.form-control{
    
    border-radius: 0px !important; 
}
.btn{
        border-radius: 0px !important; 
    
}
.input-sm {
    height: 30px;
    padding: 0px 10px !important;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 6px !important;
}
button.add {
    border-radius: 34px;
    padding: 9px;
    background-color: #1ec8c8;
    color: #fff;
    border: none;
}
i.fa.fa-plus.add {
    padding-right: 9px;
}
select {

    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
select::-ms-expand {
    display: none;
}
.login-text {
    background-color: #1ec8c8;
    height: 90px;
    width: 346px;
    margin-top: 40px;
    position: absolute;
    z-index: 999;
    margin: 91px 397px auto;
    padding-top: 0px;
    color: #fff;
}
.login-1{
    font-size: 40px;
    
}
.forgot {
    color: #5e5f5f;
}
.forgot:hover{
    
    text-decoration: none;
}
.account-box {
    position: relative;
    max-width: 400px;
    margin: 20px auto;
    border-radius: 4px;
    background-color: #ffffff;
border-radius: 7px;
box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.15), 0 1px 0 0 rgba(0, 0, 0, 0.1);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #b4b4b4;
    opacity: 0.6; /* Firefox */
    font-size: 16px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #b4b4b4;
      font-size: 16px;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #b4b4b4;
      font-size: 16px;
}


</*--------- Page Css top*/>

.topbar {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    color: #fff;
}
.topbar .topbar-left {
    background: #1ec8c8;    
    float: left;
    text-align: center;
    height: 70px;
    position: relative;
    width: 240px;
    z-index: 1;
    color: #fff;
}
.topbar-left a:hover  {
    text-decoration: none !important;    
    
}

.company {
    color: #fff;
    /* text-decoration: none; */
    margin: 20px auto;
    font-size: 20px;
    text-transform: uppercase;
}
.company:hover{    
    text-decoration: none !important;
    }

.search-box {
    width: 30%;
    margin-left: 1%;
}
.search-form {
    margin-top: 14px;
}

.search-form input.form-control {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #e8e8e8 currentcolor #e8e8e8 #e8e8e8;
    border-image: none;
    border-radius: 30px !important;
    border-style: solid none solid solid;
    border-width: 1px 0 1px 1px;
    font-size: 12px;
    background-color: rgba(255,255,255,0.1);
    border: 2px solid #fff;
    color: #fff;
    width: 200px;
    height: 36px;

}
.search-form input.form-control::placeholder{
    color:#fff !important;
    
}
.input-group .form-control:not(:last-child), .input-group-addon:not(:last-child), .input-group-btn:not(:first-child) > .btn-group:not(:last-child) > .btn, .input-group-btn:not(:first-child) > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:not(:last-child) > .btn, .input-group-btn:not(:last-child) > .btn-group > .btn, .input-group-btn:not(:last-child) > .dropdown-toggle {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.fix-sidebar .left-sidebar {
    position: fixed;
}
span.input-group-btn {
    /* margin-left: 161px; */
    position: absolute;
    float: right;
    margin: 6px 169px;
    font-size: 15px !important;
}
.navbar-dropdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.dropdown-toggle.navbar-dropdown-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.dropdown-toggle.navbar-dropdown-toggle img {
    height: 3.4rem;
    margin: 0 1rem;
    border-radius: 50rem;
}
.dropdown-toggle.navbar-dropdown-toggle::after {
    font-family: universe-admin;
    content: "";
    border: none;
    font-size: 14px;
    line-height: 7px;
    margin-right: 0;
    margin-left: 5px;
    width: 14px;
    height: 5px;
    -webkit-transform-origin: center;
    transform-origin: center;
    color: #929faa;
    transition: color .3s ease-in-out,-webkit-transform .2s;
    transition: transform .2s,color .3s ease-in-out;
    transition: transform .2s,color .3s ease-in-out,-webkit-transform .2s;
    position: relative;
    top: 1px;
}
.navbar-custom-menu {
    float: right;
}
.navbar-nav > li > a {
    padding: 23px 27px 22px 20px !important;
    display: block;
    line-height: 25px;
    color: #fff;
}
.navbar-nav > .user-menu .user-image {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
    object-fit: cover;
}
.nav>li>a:hover {
    text-decoration: none;
    background-color: #1ec8c8 !important;
    color: #fff !important;
}
.page-body-wrapper {
    padding-top: 7rem;
}
li.nav-item.nav-category {
    padding: 25px;
}

li.nav-item a {
    
  color: #98a6ad !important;  
}
li.nav-item a  {
    position: relative;
    display: block;
    padding: 15px 17px !important;
}
.sidebar .nav .nav-item.active > .nav-link {
    background: #1ec8c8;
    color:#fff !important;
}
span.menu-title {
    margin: 9px;
}

.header-top-bar {
    background-color: #fff;
    height: 71px;
   
}
.text-center.manage {
    padding: 25px;
    font-size: 15px;
}
/* Manage page css*/
.card{
    
    background-color: #fff;
    padding: 20px;
}
.user-profile {
    position: relative;
    background-size: cover;
}
.user-profile {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    object-fit: cover;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
}
.table td,.table th {
    border-color: #f3f1f1;
    vertical-align: middle;
}
.table td,.table th {
    padding: 1.75rem !important;
    vertical-align: top !important;  
    border-top-color: rgb(236, 238, 239)!important;
}
.page-wrapper {
    margin-left: 240px;
}
.top-menu {
    margin: 0;
    padding: 0;
    float: right;
}
.icon-menu:before {
   content: "\e601";
}

/* Data Table Css*/

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
  border: 0px solid #ddd !important; 
}
.table-bordered {
   border: 0px solid #ddd !important; 
}
.rt-chkbox, .rt-radio {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 14px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.rt-chkbox>span, .rt-radio>span {
    border: 1px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
    height: 19px;
    width: 19px;
    background: #E6E6E6;
}
.rt-chkbox.rt-chkbox-outline:hover>input:not([disabled]):checked~span, .rt-chkbox.rt-chkbox-outline:hover>input:not([disabled])~span, .rt-chkbox.rt-chkbox-outline>input:checked~span, .rt-chkbox.rt-chkbox-outline>input:focus~span, .rt-chkbox.rt-chkbox-outline>span, .rt-chkbox.rt-radio-outline:hover>input:not([disabled]):checked~span, .rt-chkbox.rt-radio-outline:hover>input:not([disabled])~span, .rt-chkbox.rt-radio-outline>input:checked~span, .rt-chkbox.rt-radio-outline>input:focus~span, .rt-chkbox.rt-radio-outline>span, .rt-radio.rt-chkbox-outline:hover>input:not([disabled]):checked~span, .rt-radio.rt-chkbox-outline:hover>input:not([disabled])~span, .rt-radio.rt-chkbox-outline>input:checked~span, .rt-radio.rt-chkbox-outline>input:focus~span, .rt-radio.rt-chkbox-outline>span, .rt-radio.rt-radio-outline:hover>input:not([disabled]):checked~span, .rt-radio.rt-radio-outline:hover>input:not([disabled])~span, .rt-radio.rt-radio-outline>input:checked~span, .rt-radio.rt-radio-outline>input:focus~span, .rt-radio.rt-radio-outline>span {
    border: 1px solid #d9d9d9;
    background: 0 0;
}
.rt-chkbox>input, .rt-radio>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    filter: alpha(opacity=0);
}
.rt-chkbox>span:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid #666;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.rt-chkbox:hover>input:not([disabled]):checked~span,.rt-chkbox>input:checked~span, .rt-radio:hover>input:not([disabled]):checked~span, .rt-radio>input:checked~span {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    background: #d9d9d9;
}
/* Data Table Css End*/

/*pagination css*/
.card-topline-red {
    border-top: 3px solid #1ec8c8;
}
span.edit {
    margin-right: 7px;
}
.pagination>.active>a,.pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #1ec8c8 !important;
    border-color: #1ec8c8!important;
}
.pagination>li>a,.pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
  border: 0px solid #ddd!important; 
}

/*pagination css End*/
.footer{
    width: 100%;
    position: absolute;
    background-color: #fff;
    padding: 15px;
    bottom: 0;
    
}
.float-right {
    margin-left: 238px;
}

/******************************rishab****************************************/
button.btn.btn-default.send-password {
    width: 100%;
    height: 51px;
    background-color: #1ec8c8;
    color: #fff;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 300;
    border: none !important;
}
.dataTables_filter.seacrh-row {
    float: right;
}
.add-cliets-btn {
    background-color: #1ec8c8;
    color: #fff;
    border: none;
    padding: 8px 17px 9px 17px;
    border-radius: 30px;
}
.add-client {
    float: left;
}
.dataTables_paginate.paging_simple_numbers.pegination-row {
    float: right;
}
.img-row img {
    border-radius: 60px;
    height: 40px;
}
.form-row {
    padding: 0px 90px 0 90px;
}
.post-code-row {
    padding: 16px;
}
/* Tabs panel */
.tabbable-panel {
  padding: 5px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #f3565d;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
  border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
  margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
  border-bottom: 0;
  border-top: 4px solid #fbcdcf;
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
  margin-bottom: -2px;
  border-bottom: 0;
  border-top: 4px solid #f3565d;
}
.tabbable-line.tabs-below > .tab-content {
  margin-top: -10px;
  border-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}
.medicean-list-btn {
    padding: 8px 15px 7px 15px;
    background: none;
    border: 2px solid #b6b6b6;
    border-radius: 5px;
}
.nav.navbar-nav.navbar-right.user-nav.user-section {
    margin-right: 15px;
    margin-top: 5px;
}
.add-cliets-btn a {
    color: #fff;
}
.modal-content.popup-row {
    text-align: center;height: 280px;margin-top: 130px !important;
}
.modal-footer.popup-col {
    text-align: center;
}
.modal-header.popup-col-one {
    padding: 30px;
    font-size: 23px;font-weight: 200;
}
.modal-body.popup-col-two {
    padding: 24px;
    background-color: #1ec8c8;
    color: #fff;
    font-size: 23px;font-weight: 200;
}
.modal-footer.popup-col {
    padding: 30px;font-size: 23px;font-weight: 200;
}
.modal-body.popup-col-two a {
    color: #fff;
    font-weight: 200;
}
.title-record {
    padding: 35px 0 20px 32px;
}

.title-add-client {
    padding: 35px 0 0 32px;
}


.navbar .search .form-animate-text .form-text {
    border: 2px solid !important;
    border-radius: 50px !important;
    /* padding: 10px !important; */
}
.navbar .search .form-animate-text .bar:before, .navbar .search .form-animate-text .bar:after {
    height: 1px;
    background: none !important;
}
.form-group.form-animate-text .form-text {
    font-size: 13px !important;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    background: none;
    border-bottom: 1px solid #757575;
}
.navbar .search .form-animate-text label {
    color: #ffffff;
    font-size: 15px !important;
    padding: 0px 0 0 7px !important;
}
img.ico {
    padding-right: 6px;
}
.avatar {
    height: 40px;
    width: 40px;
    border: 4px solid #108DB6 !important;
    margin-top: 5px;
    object-fit: cover  !important;
}
.mt-top{
 margin-top:16px;   
    
}
/*************media****************/
@media(max-width:1366px){
    
}
@media(max-width:1440px){
    
}
@media(max-width:1366px){
   
}
@media(max-width:1280px){
  
}   

@media(max-width:414px){
.content-left-row {
    text-align: center;
    font-size: 10px;
}
.content-right-row {
    text-align: center;
    font-size: 10px;
}
}
@media(max-width:375px){
        .content-left-row {
    text-align: center;
    font-size: 10px;
}
.content-right-row {
    text-align: center;
    font-size: 10px;
}
}
@media(max-width:320px){
    .content-left-row {
    text-align: center;
    font-size: 10px;
}
.content-right-row {
    text-align: center;
    font-size: 10px;
}
.account-box.m-t-50 {
    margin-top: -30px;
}
}
