#countdown {
    text-align: center;
    padding-left: 180px;
    color: rebeccapurple;
    font-size: 20px;
}
.form-control.default.form {
    margin-top: 0;
}
.pull-right.new {
    position: relative;
    margin-top: -25px;
    margin-right: 10px;
}

.dtp > .dtp-content {
    background: #fff;
    max-width: 336px !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    max-height: 500px;
    position: relative;
    left: 50%;
}
a {
   outline: 0 !important;
}

.newmessage{
    background: #e9e9e999  !important;
}

.newmeesagecount{
    background: #1dc8c8;
    border-radius: 5px;
    padding: 3px;
    color: #fff;   
}

#loading_div {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
  }
  
  #loading-image {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    height:120px;
  }

  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover,
  .nav-tabs > li.active > a:focus {
      -moz-border-bottom-colors: none;
      -moz-border-left-colors: none;
      -moz-border-right-colors: none;
      -moz-border-top-colors: none;
      background-color: #ffffff;
      border-image: none;
      border-style: solid;
      border-width: 1px;
      color: #555555;
      cursor: default;
  }

  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover,
  .nav-tabs > li.active > a:focus {
      -moz-border-bottom-colors: none;
      -moz-border-left-colors: none;
      -moz-border-right-colors: none;
      -moz-border-top-colors: none;
      background-color: #ffffff;
      border-image: none;
      border-style: solid;
      border-width: 1px;
      color: #418bbb;
      cursor: default;
      width: 150px;
      height: 50px;
      text-align: center;
      padding-top: 15px;
      margin-left: -1px;
      border-radius: 0px;
  }

  .nav-tabs > li > a {
      color: #333;
      width: 150px;
      height: 50px;
      text-align: center;
      padding-top: 15px;
  }

  .nav-tabs > li > a:hover {
      width: 1500x;
      height: 50px;
      padding-top: 15px;
  }

  .tab-content {
      margin-top: 0px;
  }

  .float{
      position:fixed;
      width:50px;
      height:50px;
      bottom:75px;
      right:40px;
      background-color:#1EC8C8;
      color: #FFF;
      border-radius:50px;
      text-align:center;
      box-shadow: 1px 2px 3px #999;
  }

  .my-float{
      margin-top:22px;
  }

#startdate {
    height: 30px;
}

#enddate {
    height: 30px;
}
.dataTables_length {
    margin-bottom: -25px;
}
.dt-buttons {
   float: right;
   margin-left: 5px;
}